In [ ]:
import pandas as pd
import psycopg2

In [ ]:
# Connect to PostgreSQL

conn = psycopg2.connect(
    host="localhost",
    database="bank_apps_reviews",
    user="admin",
    password="admin123"
)

In [ ]:
# Define a Helper Function to Run SQL and Return DataFrame

def run_query(sql):
    return pd.read_sql(sql, conn)

In [ ]:
sql = "SELECT * FROM reviews;"

run_query(sql)

In [ ]:
sql = "SELECT * FROM banks;"

run_query(sql)

In [ ]:
# Count reviews per bank

sql = """
SELECT r.bank_name, COUNT(*) AS total_reviews
FROM reviews v
JOIN banks r ON r.bank_code = v.bank_code
GROUP BY r.bank_name;
"""

run_query(sql)

In [ ]:
# Average rating per restaurant

sql = """
SELECT r.bank_name, ROUND(AVG(v.rating), 2) AS avg_rating
FROM reviews v
JOIN banks r ON r.bank_code = v.bank_code
GROUP BY r.bank_name;
"""

run_query(sql)