In [8]:
import pandas as pd
import psycopg2

In [9]:
# Connect to PostgreSQL

conn = psycopg2.connect(
    host="localhost",
    database="bank_apps_reviews",
    user="bank_admin",
    password="admin123"
)

In [10]:
# Define a Helper Function to Run SQL and Return DataFrame

def run_query(sql):
    return pd.read_sql(sql, conn)

In [11]:
sql = "SELECT * FROM reviews;"

run_query(sql)

C:\Users\Jose\AppData\Local\Temp\ipykernel_17248\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,review_id,review_text,rating,review_date,review_year,review_month,bank_code,bank_name,user_name,thumbs_up,text_length,source
0,a6cbfa34-f2b1-4a16-96b6-c94f58cea76f,Very Good,5,2025-11-28,2025,11,BOA,Bank of Abyssinia,Wariyo Dida,0,9,Google Play
1,fc67d12c-92e2-45aa-a9e0-011f58a583bc,goof,5,2025-11-28,2025,11,BOA,Bank of Abyssinia,Hailegebrail Tegegn,0,4,Google Play
2,11306fb9-5571-4950-8d32-604c5402242f,good!,5,2025-11-28,2025,11,BOA,Bank of Abyssinia,Tsegay ab,0,5,Google Play
3,809c46d2-730e-446a-9061-2a45e978ad9d,good jop,5,2025-11-27,2025,11,BOA,Bank of Abyssinia,Yohanis Fikadu,0,8,Google Play
4,f28a3a3c-eb94-4aab-88d2-89bcecebcc7b,bad exprience...it is so crushed,1,2025-11-27,2025,11,BOA,Bank of Abyssinia,ሻንበል ኪዳነ,0,32,Google Play
...,...,...,...,...,...,...,...,...,...,...,...,...
1120,e1c1214a-8bc1-45db-bc49-3d51dddc6b88,Amazing app super easy to use and best design....,5,2025-05-09,2025,5,Dashen,Dashen Bank,Yitbarek Gossaye,1,56,Google Play
1121,8d1d472b-2bae-4749-b089-5632108ade02,its the best ever,5,2025-05-09,2025,5,Dashen,Dashen Bank,natnael abera,1,17,Google Play
1122,749851ed-72d7-4f1c-8e5e-27dd822b5008,nice,5,2025-05-08,2025,5,Dashen,Dashen Bank,Mehammed Amin,1,4,Google Play
1123,f2852962-b983-44af-b296-241a3373477f,excellent game changer App,5,2025-05-08,2025,5,Dashen,Dashen Bank,Wondim Tarko,1,26,Google Play
1124,62102c1c-85b0-4965-b033-063c67ac9129,I am highly excited by using this application ...,5,2025-05-03,2025,5,Dashen,Dashen Bank,Wondalem Mezgeb,4,109,Google Play

In [12]:
sql = "SELECT * FROM banks;"

run_query(sql)

C:\Users\Jose\AppData\Local\Temp\ipykernel_17248\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,bank_id,app_id,title,score,ratings,reviews,installs,bank_code,bank_name
0,1,com.combanketh.mobilebanking,Commercial Bank of Ethiopia,4.32,38862,8336,"5,000,000+",CBE,Commercial Bank of Ethiopia
1,2,com.boa.boaMobileBanking,BoA Mobile,4.19,6358,1219,"1,000,000+",BOA,Bank of Abyssinia
2,3,com.dashen.dashensuperapp,Dashen Bank,4.16,3911,771,"1,000,000+",Dashen,Dashen Bank

In [13]:
# Count reviews per bank

sql = """
SELECT r.bank_name, COUNT(*) AS total_reviews
FROM reviews v
JOIN banks r ON r.bank_code = v.bank_code
GROUP BY r.bank_name;
"""

run_query(sql)

C:\Users\Jose\AppData\Local\Temp\ipykernel_17248\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

                     bank_name  total_reviews
0                  Dashen Bank            380
1            Bank of Abyssinia            370
2  Commercial Bank of Ethiopia            375

In [14]:
# Average rating per restaurant

sql = """
SELECT r.bank_name, ROUND(AVG(v.rating), 2) AS avg_rating
FROM reviews v
JOIN banks r ON r.bank_code = v.bank_code
GROUP BY r.bank_name;
"""

run_query(sql)

C:\Users\Jose\AppData\Local\Temp\ipykernel_17248\1241105332.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

                     bank_name  avg_rating
0                  Dashen Bank        3.95
1            Bank of Abyssinia        3.37
2  Commercial Bank of Ethiopia        4.14